@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* temporal */
    /* border:1px solid red; */
}

body{
  background-color: #1E1F24;
  color:white;
  font-family: "Open Sans", sans-serif;
}

.contenedor{
  max-width: 1200px;
  margin:0 auto;
}

h1 {
  font-size:78px;
  font-weight: 700;
}

p{
  font-size:20px;
}

nav li{
  list-style: none;
}

button{
  /* geometría del botón */
  padding:16px;
  color:white;
  border:1px solid gray;
}

.btn-primario {
  background-color: #205BF1;
}

.btn-secundario {
  background-color: #34353A;
}

.main-menu {
  display:flex;
  gap:40px;
  font-size:14px;
  padding:20px 0;
}

.links {
  display:flex;
  flex-grow: 5;
  /* gap - brecha, nos sirve para espaciar elementos dentro de flex */
  gap:20px;
  align-items: center;
}

.access {
  display: flex;
  gap:20px;
  align-items: center;
}

/* header */
header {
  padding:60px;
}

header h1, header p{
  margin-bottom:40px;
  max-width: 55%;
}

/* del nav y del header todos los elementos (*) */
nav *, header *{
  position: relative;
}

/* absolute header */
.absolute {
  position:absolute;
}

.espiral {
  top: -50px;
  left: 800px;
}

.imagen1 {
  top: 200px;
  right: 350px;
}

.imagen2 {
  top: 300px;
  right:120px;
}

.imagen3 {
  top: 450px;
  right:450px;
}

.imagen4 {
  top: 550px;
  right:0;
}

.brands {
  padding: 60px;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  padding:30px 0;
}

.company{
  min-width:320px;
  max-width:600px;
  /* width:28%; */
  height: 102px;
  /* alpha, transparencia, 0 a 1*/
  background-color: rgba(255, 255, 255, 0.05);
  /* flex */
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

/* menú desplegable */
#checkmenu {
  /* visibility, escondete, pero quedate ahí */
  /* esta dentro de la estructura, pero esta escondido */
  visibility: hidden;
}

.cerrar-menu {
  /* no estes presente, esta el codigo pero esta ignorado, no ha sido renderizado*/
  display: none;
}

.abrir-menu {
  display: none;
}

@media screen and (width < 992px) {
  header{
    text-align: center;
    margin-bottom: 300px;
  }

  header h1, header p{
    max-width: 100%;
  }

  .espiral {
    top: 500px;
    left: -100px;
    /* piensen en porcentaje 0 y 1 es 100% */
    transform:scale(0.75);
  }
  
  .imagen1 {
    top: 600px;
    left: calc(50% - 150px);
  }
  
  .imagen2 {
    top: 750px;
    left:calc(50% - 250px);
  }
  
  .imagen3 {
    top: 640px;
    left:-100px;
  }
  
  .imagen4 {
    top: 640px;
    right:0;
  }

  .brands{
    position: relative;
    top:350px;
  }
}

@media screen and (width < 570px){
  .links {
    /* border:1px solid red; */
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #1E1F24;
    /* jugar a que el menú se muestre por encima de todo */
    z-index:100;
    padding: 70px 0;
    font-size:24px;
    gap:50px;
    top:0;
    right:100vw;
  }

  .cerrar-menu {
    position:absolute;
    display:block;
    top:50px;
    right: 50px;
    cursor: pointer;
  }

  .abrir-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  /* checked hace referencia cuando el input check esta marcado  */
  #checkmenu:checked ~ .links {
    right:0;
    transition-property: all;
    transition-duration: 0.5s;
  }
}