/* Variables */
:root{
  /* --nombrevariable: valor */
  --primary-color: #1db954;
  --secondary-color-01: #000000;
  --secondary-color-02: #191414;
  --secondary-color-03: #505050;
  --secondary-color-04: #ffffff;

  --genre-color01: #55a891;
  --genre-color02: #27856a;
  --genre-color03: #5f8109;
  --genre-color04: #5e073b;
  --genre-color05: #f037a5;
  --genre-color06: #af2896;
  --genre-color07: #af2896;
  --genre-color08: #477d95;
  --genre-color09: #509bf5;
  --genre-color10: #1d3164;
  --genre-color11: #e8115b;
  --genre-color12: #e13300;
  --genre-color013: #ba5d07;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  /* border:1px solid red; */
}

/* estilos generales */
body{
  background-color: var(--secondary-color-01);
  color: var(--secondary-color-04);
  font-family: "Montserrat", sans-serif;
}

h5{
  color: gray;
}

section{
  padding:40px;
}

.tarjetas-busqueda{
  margin:20px 0;
  display: flex;
  gap:20px;
  overflow-x: scroll;
}

.tarjeta{
  background-color: var(--secondary-color-02);
  min-width:250px;
  max-width: 200px;
  height: 350px;
  padding:15px;
  border-radius: 10px;
}

.tarjeta h4, .tarjeta h5{
  margin-bottom:10px;
}

.ellipse-tarjeta{
  width:100%;
  margin-bottom: 20px;
}

.icon-play{
  width:40px;
}

.grid-explorar{
  display:grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cuadro{
  padding:20px;
  overflow: hidden;
  border-radius:10px;
  height:260px;
}

.img-cuadro{
  width: 150px;
  transform: translate(120px, 90px) rotate(30deg);
}

.cuadro:nth-of-type(1){
  background-color: var(--genre-color01);
}

.cuadro:nth-of-type(2){
  background-color: var(--genre-color02);
}

.cuadro:nth-of-type(3){
  background-color: var(--genre-color03);
}

.cuadro:nth-of-type(4){
  background-color: var(--genre-color04);
}

.cuadro:nth-of-type(5){
  background-color: var(--genre-color05);
}

.cuadro:nth-of-type(6){
  background-color: var(--genre-color06);
}

.cuadro:nth-of-type(7){
  background-color: var(--genre-color07);
}

.cuadro:nth-of-type(8){
  background-color: var(--genre-color08);
}

.cuadro:nth-of-type(9){
  background-color: var(--genre-color09);
}

.cuadro:nth-of-type(10){
  background-color: var(--genre-color10);
}

.cuadro:nth-of-type(11){
  background-color: var(--genre-color11);
}

.cuadro:nth-of-type(12){
  background-color: var(--genre-color12);
}

.cuadro:nth-of-type(13){
  background-color: var(--genre-color1);
}