.caja {
  background-color: red;
  width: 100px;
  height: 100px;
  transition-property: all;
  transition-duration: 2s;
  /* en cuanto a tiempo se puede poner en segundos
  1s 1segundo
  o en milisegundos
    500ms 500milisegundos*/
  /* transition-delay: 500ms; */
  /* transition-timing-function: ease; */
  transition-timing-function: cubic-bezier(0,1.34,1,.47);
}

.caja:hover {
  background-color: blue;
  /* transformaciones se aplican al final */
  transform:scale(2);
  /* translate(x, y) */
  transform: translate(20px, 40px);

  transform: rotate(180deg);
  /* width:150px;
  height:150px; */
}
