*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* temporal */
  border: 1px solid red;
}

.padre {
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: 250px 250px 250px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* repeat(cantidad, unidadDeMedida */
  /* grid-template-columns: repeat(3, 250px); */
  /* minmax(valormínimo y un valor máximo */
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  /* filas */
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  gap:20px;
  /* grid implícito */
  grid-auto-columns: 300px;
  grid-auto-rows: 200px;
  /* grid-auto-flow: column; */
  grid-auto-flow: row;
}

.caja:nth-of-type(1){
  background-color: aquamarine;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.caja:nth-of-type(2){
  background-color: peru;
  grid-row: 1 / 4;
}

.caja:nth-of-type(3){
  background-color: deeppink;
  grid-row: 3 / 5;
}

.caja:nth-of-type(5){
  background-color: steelblue;
  grid-column: 2 / 4;
}