/* sel. de etiqueta */
h1 {
  color:peru;
  font-family: Arial;
}

p {
  font-style: italic;
  font-family: sans-serif;
}

/* sel. de clase, muy común */
.importante {
  background-color: aquamarine;
}

.subrayado {
  text-decoration: underline;
}

/* sel. de id */
#introduccion {
  font-size: 19px;
}

/* poder jugar con la estructura y unos operadores que me van a permitir jugar */

/* > - hace referencia a los primeros elementos hijos */
ul > li{
  color:blue;
  text-decoration: underline;
}

/* .clase > etiqueta */
/* #id > .clase*/

/* selector selectorHijo - todos los elementos hijos */
/* todos los li que esten dentro de un ul */
ul li{
  font-weight: bold;
}

/* ~ , para seleccionar hermanos 🐥  */
.contenido ~ div{
  border:2px solid peru;
}