//Al utilizar SCSS podemos seguir utilizando CSS
// variables
$primary-color: peru;
$main-font: Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  color: $primary-color;
  font-family: $main-font;
}

// nav .links li a   <--- esto seria en CSS
// nesting

nav {
  background-color:firebrick;

  .links {
    display: flex;
    gap:20px;
    align-items: center;

    li {
      list-style: none;
      font-weight: bold;

      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}
